@charset "utf-8";


.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

body {
    background: #f7f7f7;
}

main {
    height: calc(100dvh - 56px);
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.gap-40 {
    gap: 40px;
}

.center {
    justify-content: center;
    align-items: center;
}

/*--------------------Header-----------------*/

header {
    background: #006a4e;
}

.title {
    height: 56px;

    h1 {
        position: relative;
        right: 2px;
        line-height: 56px;
        font-size: 20px;
        color: #fff;
        font-weight: 500;
        text-transform: uppercase;
    }
}


nav {
    width: 100%;
    height: 56px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    line-height: 56px;

    a {
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
    
        &:hover {
            /* text-decoration: underline; */
            color: #a2d3bb;
            transition: color 0.25s ease-in-out;
        }
    }
}

li + li {
    margin-left: 16px;
}


input[type=text] {
    width: 100%;
    height: 38px;
    padding: 0 15px 0 32px;
    border: 1px solid rgb(0 0 0 / 5%);
    border-radius: 50px;
    transition: all 0.25s ease-in-out;
    background: #2c5d45 url(../img/image4.png) no-repeat 10px 11px;
    background-size: 16px;
    color: #f7f7f7;

    &:focus {
        border: 1px solid #5fb38a;
    }
}

input::placeholder {
    color: #B7BEB8;
}

/*--------------------Body-----------------*/

table {
    width: 100%;
    text-align: left;
    border-collapse: seperate;
    border-spacing: 0 10px;
    color: #0d0d0d;
}

thead tr {
    background-color: transparent;
}

tbody tr {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0 0 0 / 5%);
}

tr th {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 8px 16px;
    color: #676767;
}

tr td {
    padding: 18px 16px;
    font-size: 14px;
    font-weight: 500;
}

td + td {
    width: 200px;
}

td:last-child {
    text-align: right;
    padding: 0 16px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

td:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.letter-u,
.letter-a,
.letter-c,
.letter-m,
.letter-v {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px; 
}

.letter-u {
    background-color: #e2f2ed;
    color: #61b3d8;
}

.letter-a {
    background-color: #ffebee;
    color: #e5a1a1;
}

.letter-c {
    background-color: #ebf4e9;
    color: #84b26b;
}

.letter-m {
    background-color: #e8e7f8;
    color: #8b94d2;
}

.letter-v {
    background-color: #fff3e0;
    color: #dab96f;
}

.button {
    padding: 12px 24px;
    background-color: #eaeaea;
    text-decoration: none;
    color: #676767;
    border-radius: 50px;
    font-weight: 500;
    font-size: 13px;

    &:hover {
        background-color: #DeDeDe;
        transition: color 0.25s ease-in-out;
    }
}
